* {
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.clock {
    height: 360px;
    width: 360px;
    border-radius: 50%;
    background-color: rgba(225, 225, 225, .7);
    position: relative;
}

.clock .number {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 1.8rem;
    text-align: center;
    transform: rotate(var(--rotate));
}

.number.number1 {
    --rotate: 30deg;
}

.number.number2 {
    --rotate: 60deg;
}

.number.number3 {
    --rotate: 90deg;
}

.number.number4 {
    --rotate: 120deg;
}

.number.number5 {
    --rotate: 150deg;
}

.number.number6 {
    --rotate: 180deg;
}

.number.number7 {
    --rotate: 210deg;
}

.number.number8 {
    --rotate: 240deg;
}

.number.number9 {
    --rotate: 270deg;
}

.number.number10 {
    --rotate: 300deg;
}

.number.number11 {
    --rotate: 330deg;
}

.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: black;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    transform: rotate(calc(var(--rotation) * 1deg))
}

.hand.hour {
    width: 7px;
    height: 30%;
    background-color: black;
}

.hand.minute {
    width: 5px;
    height: 36%;
    background-color: black;
}

.hand.second {
    width: 3px;
    height: 43%;
    background-color: red;
}